<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-compitable" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body
        {
        background-image:url("https://i.pining.com/564x/18/d8/da/18d8da592a999a56398d34c38a1125c3.jpg");
        background-size:cover;
        }
        h3.big
        {
        line-height:1.8;
    </style>
</head>
<body>
    <br>
<div class="container">
    <div class="row">
        <div class="col-md-12 bg-light text-right">
            <a href="/home" class="btn btn-info btn-lg">Home</a>
            <a href="/predict" class="btn btn-primary btn-lg">Predict</a>
        </div>
    </div>
    <center>
        <h1><strong>INTELLIGENT ADMISSION</strong></h1>
    </center>
    <h3 class="big"><em>The purpose of intrlligent admission is to improve the future oh university to give a chance to student as a examining way</em></h3>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>