<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF=8">
    <title>Predict</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body
        {
        background-image:url("https://i.pining.com/564x/18/d8/da/18d8da592a999a56398d34c38a1125c3.jpg");
        background-size:cover;
        }
        h3.big
        {
        line-height:1.8;
    </style>
</head>
<body>
    <br>
<div class="container">
    <div class="row">
        <div class="col-md-12 bg-light text-right">
            <a href="/home" class="btn btn-info btn-lg">Home</a>
            <a href="/predict" class="btn btn-primary btn-lg">Predict</a>
        </div>
<select class="custom-select" id="sex" name="sex">
    <option value="1">Male</option>
    <option value="0">Female</option>
</select>
</div>
    <br>
    <div class="form-group mb-3">
        <div class="input-group-prrepend">
            <label class="input-group-text" for="GRE Score">GRE Score</label>
        </div>
        <select class="custom-select" name="GRE Score" id="GRE Score"></select>
    </div><br>
    <div class="form-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="TOEFL Score">TOEFL Score</label>
        </div>
        <select class="custom-select" name="TOEFL Score" id="TOEFL Scorr"></select>
    </div><br>
    <div class="fore-group row">
        <div class="col-md-3"
             <label for="University Rating">University Rating</label>
            <select class="University Rating "
    </div>
</div>
    <button type="submit" class="btn btn-success btn-lg">submit</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">s</script>
    </body>
</html>
